@use '@/styles/sizes' as s; // '@' 경로 별칭 사용(vite.config.js에서 alias 설정 필요)

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 10px;
    background-color: rgb(156, 156, 156);
    border-radius: 12px;
}

.searchSection {
    display: flex;
    width: s.$max-content-width;
    margin: 0 auto;
}

.searchForm {
    flex: 1;
}

.searchInput {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border: none;
    border-radius: 12px;
}

.searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
}

.currentLocationIcon {
    width: 35px;
    height: 35px;
}

.currentLocationIcon:hover {
    // 이미지 색상 변경 : https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(91%) sepia(61%) saturate(15%) hue-rotate(293deg) brightness(108%) contrast(100%);
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 10px;
}

.link {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
}

.link:hover {
    background-color: rgb(100, 100, 100);
}

$breakpoint-header: s.$content-max-width + 400px;
@media (max-width: $breakpoint-header) {
    .wrapper {
        align-items: center;
        gap: 10px;
    }

    .nav {
        position: unset;
    }
}